jira_url="https://jira.server.ru" # Ссылка на сервер jira
jira_username="example@github.com" # Логин для авторизации в Jira
jira_password="examplePassword" # Пароль для авторизации в Jira
jira_task_load_chunk=100 # Скачивать из джира пачками по столько задач
jira_jql="priject = EGG" # JQL задач которые будут выгружены
outpit_file_name="results" # Имя файла с выгрузкой
# custom_jira_fields_expr="customfield_200[*].value" # Добавление кастомных полей задачи в выгрузку
# custom_jira_fields_expr="customfield_1300[*].value,customfield_1010[*].value" # Добавление кастомных полей задачи в выгрузку
