jira_url="https://jira.server.ru" # Ссылка на сервер jira
jira_username="example@github.com" # Логин для авторизации в Jira
jira_password="examplePassword" # Пароль для авторизации в Jira
jira_task_load_chunk=100 # Скачивать из джира пачками по столько задач
jira_jql="priject = EGG" # JQL задач которые будут выгружены
outpit_file_name="results" # Имя файла с выгрузкой
